## macro to do paging for DatasourceListComponents and DatasourceTreeComponents
#macro(paging $paging)
	#if($paging)
		#set ($minus10 = $paging.current - 1 - 10)
		#if ($minus10 < 0) #set ($minus10 = 0) #end
		## wenn $minus10 < 0, dann gehe auf Seite 1
		#set ($minus10nr = $minus10 + 1)
		#set ($minus1 = $paging.current - 1 - 1)
		#if ($minus1 < 0) #set ($minus1 = 0) #end
		#set ($minus1nr = $minus1 + 1)
		#set ($plus1 = $paging.current - 1 + 1)
		#if ($plus1 >= $paging.pages.size()) #set ($plus1 = $paging.pages.size() - 1) #end
		#set ($plus1nr = $plus1 + 1)
		#set ($plus10 = $paging.current - 1 + 10)
		#if ($plus10 >= $paging.pages.size()) #set ($plus10 = $paging.pages.size() - 1) #end
		## wenn $plus10 > size(), dann gehe auf letzte Seite [.size()]
		
		#set ($plus10nr = $plus10 + 1)

		## show 5 before and 5 after the current page
		#set ($firstshown = $paging.current - 5)
		#set ($lastshown = $paging.current +5)
		#set ($leftellipsis = false)
		#set ($rightellipsis = false)
		
		## zeigt Paging nur an, wenn mehr als 1 Seite vorhanden ist! ;-)
		
		#if ($paging.pages.size() > 1)
			<div id="paging">
				#set($goto = $portal.i18n('Go to page $page'))
				$goto.setParameter("page", $minus10nr)
				<a href="$paging.pages.get($minus10).link" title="$goto">&lt;&lt;</a>
				#set($goto = $portal.i18n('Go to page $page'))
				$goto.setParameter("page", $minus1nr)
				<a href="$paging.pages.get($minus1).link" title="$goto">&lt;</a>
				#foreach ($page in $paging.pages)
					#if (($page.number >= $firstshown && $page.number <= $lastshown) || $page.number == 1 || $page.number == $paging.pages.size())
						#if ($page.number == $paging.current)
							<b>$page.number</b>
						#else
							#set($goto = $portal.i18n('Go to page $page'))
							$goto.setParameter("page", ${page.number})
							<a href="$page.link" title="$goto">$page.number</a>
						#end
						
						#if ($page.number != $paging.pages.size()) | #end
					#else
						#if ($page.number < $paging.current)
							#if($leftellipsis == false)
								&nbsp;...&nbsp;
								#set ($leftellipsis = true)
							#end
						#else
							#if($rightellipsis == false)
								&nbsp;...&nbsp;
								#set ($rightellipsis = true)
							#end
						#end
					#end
				#end
				#set($goto = $portal.i18n('Go to page $page'))
				$goto.setParameter("page", $plus1nr)
				<a href="$paging.pages.get($plus1).link" title="$goto">&gt;</a>
				#set($goto = $portal.i18n('Go to page $page'))
				$goto.setParameter("page", $plus10nr)
				<a href="$paging.pages.get($plus10).link" title="$goto">&gt;&gt;</a>
			</div>
		#end
	#end
#end
## end paging macro



#macro(show_actions $actions $position $portlet)
	#if($actions && $actions.size()!=0)
		#set($rendertool = $portal.imps.velocityTools.render)
		<ul class="tools flowactions" id="actions${position.id}_${position.index}">
		#foreach($action in $actions)##
			#if ("$!action.properties.additional_visible_rule" == "" || $portal.imps.rule.matches($rendertool.eval($ctx, "$!action.properties.additional_visible_rule")))
				#if ("$!action.properties.cssclass" != "")
					#set($class=" class='$action.properties.cssclass'")##
				#else
					#set($class="")##
				#end
				#if ("$!action.properties.alt" != "")
					#set ($alt = "$action.properties.alt")##
				#else
					#set ($alt = "$action.id")##
				#end
				#set ($icon = "$action.properties.icon")##
				#if ("$!action.properties.switch_rule" != "")
					#set ($result = "false")
					$rendertool.eval($ctx, $action.properties.switch_rule)##
					#if ($result == "true")
						#set ($alt = "$action.properties.switch_alt")##
						#set ($icon = "$action.properties.switch_icon")##
					#end
				#end
				#set ($alt = "$portal.i18n($alt)")##
				#set($macro_call="#url_esc($action.url)")##
				<li${class}><a href="$macro_call" style="background-image:url('$icon')" title="$alt"><span class="hidden">$alt</span></a></li>
			#end
		#end
		</ul>
		<script type="text/javascript">
			document.getElementById("actions${position.id}_${position.index}").style.display = "none";
		</script>
	#end
#end


##edited by AP(gentics) 27.4.2006
##edited by CS (gentics)
##finds the parent
##reverser order, e.g.:
## parents[0] is object.folder_id
## parents[1] is object.folder_id.folder_id
#macro( find_parent $content_id )
	##selects active item from database
	#set ($portal.imps.query.rule = "object.contentid == '$content_id'")
	#set ($items = $portal.imps.query.result)
	##foreach item should only be one
	#foreach($item in $items)
		##if there is a parent
		#if($item.folder_id && $item.folder_id.toString() != "")
			##adds parent to $parents
			##no output should be created so write this into nirvana 
			##must save as string to ensure that it will be found by .contains()
			#set($nirvana = $parents.add("$item.folder_id"))
			##find parent of parent :-)
			##the recursive call must be masked because of http://issues.apache.org/bugzilla/show_bug.cgi?id=13623 
			#set ($parent_call="#find_parent ($item.folder_id)")
			$parent_call
		#end
	#end
#end


##finds the parent
##hierarchical order, e.g.:
## parents[0] is object.folder_id.folder_id
## parents[1] is object.folder_id
#macro( find_parent_hierarchical $content_id )
	##selects active item from database
	#set ($portal.imps.query.rule = "object.contentid == '$content_id'")
	#set ($items = $portal.imps.query.result)
	##foreach item should only be one
	#foreach($item in $items)
		##if there is a parent
		#if($item.folder_id && $item.folder_id.toString() != "")
			##adds parent to $parents
			##no output should be created so write this into nirvana 
			##must save as string to ensure that it will be found by .contains()
			#set($nirvana = $parents.add(0,"$item.folder_id"))
			##find parent of parent :-)
			##the recursive call must be masked because of http://issues.apache.org/bugzilla/show_bug.cgi?id=13623 
			#set ($parent_call="#find_parent_hierarchical ($item.folder_id)")
			$parent_call
		#end
	#end
#end



#macro ( ucfirst $string )
	#set ($first = $string.toString().substring(0,1).toUpperCase())
	#set ($rest = $string.toString().substring(1))
	#set ($ucfirst_word =  "${first}${rest}")
#end

#macro(display_position $position)
	#foreach($portlet in $position.portlets)
$portlet.toString().replaceAll("<BR>","<br />")
	#end
#end

##this macro creates correct resizing urls for GPN with and without Beautiful urls
## usage in GCN: <img src="#create_image_url("$plink" 114 0)">
## parameters:
## 1. plink
## 2. width
## 3. height (if 0 image will be resized in correct aspect ratio)
#macro( create_image_url $plink $width $height )
  #if("$!width"!="" && "$width"!="0")
    #set($swidth="p.maxwith=$width")
  #end
  #if("$!height"!="" && "$height"!="0")
    #set($sheight="p.maxheight=$height")
  #end
  #if("$!sheight"!="" && "$!swidth"!="")
   #set($sand="&amp;")
  #end
  #if($plink.toString().indexOf("?")==-1)
  $plink?$!{swidth}$!{sand}$!{sheight}##
  #else
  $plink&amp;$!{swidth}$!{sand}$!{sheight}##
  #end
#end

##escape urls
## & => &amp;
## &amp; => &amp;
#macro( url_esc $link )##
#if("$link.toString"!="")
$!link.toString().replaceAll("&(amp;)?","&amp;")##
#else
$portal.imps.velocityTools.esc.h##
#end
#end

##This macro can be used to make ${javax.portlet.response.namespace} JS ready 
#macro( nsprepareforjs $namespace )##
#if("$namespace"!="")##
$!namespace.toString().replaceAll("[.]","_")##
#end##
#end

#macro( pagebottom )
	## a very simple java script keep alive ...
	<script type="text/javascript">
		## ping the server every 10 minutes ..
		var genticsKeepAliveInterval = 10 * 60 * 1000;
		function genticsKeepAlive() {
			if (jQuery && GENTICS) {
				## Only if jquery is loaded.. which it should be .. (add a timestamp so it is not cached.)
				jQuery.getJSON("/Portal.Node/portal", {"gentics.rl": "true", "ts": new Date().getTime() }, function(data) {
					GENTICS.processResult(data);
				});
				window.setTimeout("genticsKeepAlive()", genticsKeepAliveInterval);
			}
		}
		window.setTimeout("genticsKeepAlive()", genticsKeepAliveInterval);
	</script>
#end
