.classpath
.project
.settings/
.metadata/
target/
Servers/
contentconnector-config-sample/src/main/config/index/
contentconnector-changelog/src/changelog/mappings/*SNAPSHOT.json
*.orig
**/nb-configuration.xml

# IntelliJ project files
.idea
*.iml
