<web-app  xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<icon></icon>
	<display-name>SearchApplication</display-name>
	

	<!-- Integration of Gentics Portal.Node Server -->	
	<servlet>
		<servlet-name>GenticsInvokerServlet</servlet-name>
	
	<servlet-class>com.gentics.portalnode.portlet.InvokerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<listener>
		<listener-class>com.gentics.portalnode.portlet.PortletAppRegistrationInvoker</listener-class>
	</listener>

	<context-param>
		<param-name>contextPath</param-name>
		<param-value>/SearchApplication</param-value>
	</context-param>
	 
	<!-- JMage End -->
	
	
</web-app>
