<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>indexer</servlet-name>
		<display-name>indexer</display-name>
		<description>
			Gentics .Node ContentConnector Indexer Application
		</description>
		<servlet-class>com.gentics.cr.lucene.IndexJobServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.gentics.cr.rest.RESTServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>velocity</servlet-name>
		<servlet-class>com.gentics.cr.rest.RESTServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocomplete</servlet-name>
		<servlet-class>com.gentics.cr.rest.RESTServlet</servlet-class>
	</servlet>
	<!-- Binary servlet used to serve content -->
	<servlet>
		<servlet-name>content</servlet-name>
		<servlet-class>com.gentics.cr.servlet.CRServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ccr</servlet-name>
		<servlet-class>com.gentics.cr.rest.RESTServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>nav</servlet-name>
		<servlet-class>com.gentics.cr.rest.RESTNavigation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexer</servlet-name>
		<url-pattern>/indexer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>velocity</servlet-name>
		<url-pattern>/velocity/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>autocomplete</servlet-name>
		<url-pattern>/autocomplete/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>content</servlet-name>
		<url-pattern>/content/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ccr</servlet-name>
		<url-pattern>/ccr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>nav</servlet-name>
		<url-pattern>/nav/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
        <welcome-file>velocity</welcome-file>
    </welcome-file-list>
</web-app>
