<html>
	<head>
		<title>IndexerServlet for Lucene by Gentics</title>
		<meta http-equiv="refresh" content="5; URL=?action=show$nc" />
		<style>
			body { font-family: arial,helvetica,sans-serif; font-size: 10pt; }
			h1 { text-transform: uppercase; font-weight: bold; font-size: 20pt; color: #A0A0A0; margin: 0 0 10px 0; }
			a { text-decoration: none; }
			h2 { background-color:#C6E7FF; border-color:#576C7F; border-style:solid; border-width:0 0 2px; font-size:16px; padding:2px; }
			
			.center { text-align: center; }
			.right { text-align: right; }
			.clear { clear: both; }
			
			.captioncontainer { width: 150px; float: left; font-style: italic; }
			.indexcontainer { float: left; }
			.indexblock { float: left; min-width: 200px; width: 200px; border: 1px solid #C0C0C0; border-top: 0px; margin-left: 4px; }
			
			.row { line-height: 18px; padding: 0px 4px; } 
			.row.small, .row.small a { font-size: 8pt; }
			.row.header { font-weight: bold; padding: 0px 10px; text-align: center; background: #C0C0C0; }
			.row.even { background: #EFEFEF; }
			
			.key { float: left; }
			.value { float: right; margin-left: 4px; }
			
			.smallheader { font-weight: bold; }
			.smallbox { margin-left: 4px; }
		</style>
	</head>
	<body>
		<h1>Lucene Indexes</h1>
		
		<div class="captioncontainer">
			<div class="row odd">Index</div>
			<div class="row even">Objects in Index</div>
			<div class="row odd">Periodical indexing</div>
			<div class="row even">Current checkinterval</div>
			<div class="row odd">Elements in queue</div>
			<div class="row even">Workerstatus</div>
			<div class="row odd">Jobs</div>
		</div>
		
		<div class="indexcontainer">
		#foreach($e in $indexes)
			#set($loc = $e.getValue())
			#set($queue = $loc.getQueue())
			#set($map = $loc.getCRMap())
			<div class="indexblock">
				<div class="row odd small header">$e.getKey()</div>
				<div class="row even small center">$loc.getDocCount()</div>
				<div class="row odd small center">#if($loc.isPeriodical()) true #else false #end</div>
				<div class="row even small center">$queue.getInterval() s</div>
				<div class="row odd small center">$queue.getSize()</div>
				<div class="row even small">
					#if($queue.isRunning())
						<div class="key">processing</div>
						<div class="value right"><a href="?action=stopWorker&idx=$e.getKey()$nc">stop</a></div>
					#else
						<div class="key">not running</div>
						<div class="value right"><a href="?action=startWorker&idx=$e.getKey()$nc">start</a></div>
					#end
					<div class="clear"></div>
				</div>
				<div class="row odd small">
					<div class="smallheader">index parts</div>
					<div class="smallbox">
					#foreach($crc in $map.entrySet())
						<div class="key">$crc.getKey()</div>
						<div class="value right"><a href="?action=addJob&idx=$e.getKey()&cr=$crc.getKey()$nc">add</a></div>
						<div class="clear"></div>
					#end
						<div class="key">all Parts</div>
						<div class="value right"><a href="?action=addJob&idx=$e.getKey()&cr=all$nc">add</a></div>
						<div class="clear"></div>
						<div class="key">clear Index</div>
						<div class="value right"><a href="?action=clear&idx=$e.getKey()$nc">add</a></div>
						<div class="clear"></div>
					</div>
				</div>
				
				#set($j = "")
				#set($j = $queue.getCurrentJob())
				#if ("$!j" != "")
				<div class="row even small">
					<div class="smallheader">current job</div>
					<div class="smallbox">
						<div>
							$j.getIdentifyer()<br/>
							status: $j.getStatusString()<br/>
							&nbsp;&nbsp;&nbsp; $j.getObjectsToIndex() objects to index<br/>
							&nbsp;&nbsp;&nbsp; $j.getObjectsDone() objects done
						</div>
					</div>
				</div>
				#end

				#set($lastJobs = $queue.getLastJobs())
				#if($lastJobs)
				<div class="row even small">
					<div class="smallheader">last 3 jobs</div>
					<div class="smallbox">
						#foreach($lj in $lastJobs)
							<div>$lj.getIdentifyer()<br/>&nbsp;&nbsp;&nbsp; $lj.getDuration() ms for $lj.getObjectsDone() Objects</div>
						#end
					</div>
				</div>
				#end

			</div>
		#end
		</div>
		<div style="clear: both;"></div>
		<a href="?action=show$nc">Refresh</a><br/>
	</body>
</html>