<html>
<head>
	<title>Search Example</title>
	<style type="text/css">
		.ac_results ul {list-style-type:none; margin:0px; padding:0px;}
		.ac_results ul li {	
			background-color: #EAF2F6;
		}
		.ac_results ul li.ac_over {
			background-color: #FCF8DC;
		}
		ul.tarn { list-style-type:none; width: 600px; }
		ul.tarn li {	
			margin: 2px 0px 0px 0px;
			padding: 5px;
			background-color: #F4F4F4;
		}
		h1, a {
			color: #09C;
			text-decoration: none;
		}
		h1 {
			font-style: italic;
		}
		a:hover {
			text-decoration: underline;
		}
		p.info {
			font-size: 80%;
			font-style: italic;
		}
	</style>
	<script type="text/javascript" src="scripts/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="scripts/jquery.autocomplete.js"></script>
</head>
<body>
<h1>Search example</h1>
<div class="form">
<form action="velocity" method="post">
	Query: <input type="text" name="filter" id="input_search"/> <input type="submit" name="submit" value="Go"/>
	<script type="text/javascript">
	<!--
	jQuery(document).ready(function(){
		jQuery("#input_search").autocomplete("autocomplete",{
			delay:100,
			minChars:1,
			maxItemsToShow:5
		});
	});
	-->
</script>
</form>
<p class="info">Try out querying with lucene. You can use the <a href="http://lucene.apache.org/core/old_versioned_docs/versions/3_0_0/queryparsersyntax.html">query syntax</a> in the field above. Also have a look at the <a href="indexer">indexer</a>.</p>
</div>
<div class="result">
#if($resolvables && $resolvables.size()>0 && $resolvables.get(0).contentid == "10001")
##$metaresolvable contains search result meta information like total hits etc.; first resolvable in collection, can be configured in lucene properties
#set($metaresolvable=$resolvables.remove(0))
#end
#set($start = ($metaresolvable.start + 1))
#set($end = ($metaresolvable.start + $metaresolvable.count))
#if($end > $metaresolvable.totalhits)
	#set($end = $metaresolvable.totalhits)
#end
## had to pass originalquery and change it in paging links
##set($originalquery = $request.parameters.query)
#set($originalquery = $metaresolvable.query)
#set($metaquery = $metaresolvable.query)
#if($metaresolvable.suggestions && $metaresolvable.suggestions.size() > 0)
	Did you mean
	#foreach($suggestion in $metaresolvable.suggestions.entrySet())
		#foreach($query in $suggestion.getValue())
			#set($q=$metaquery.replaceAll($suggestion.getKey(),$query))
			<a href="velocity?filter=$q">$query</a> |
		#end
	#end
	?
#end
#if($metaresolvable.totalhits>0)
<p id="result_report">
      Showing $start - $end of $metaresolvable.totalhits results
</p>
#else
<div id="result_report">Sorry. We could not find what you where looking for. Try a different query!</div>
#end
#if($metaresolvable.totalhits >= $metaresolvable.start + $resolvables.size())
<ul id="results" class="tarn">
#foreach($resolvable in $resolvables)
	#if($metaresolvable.start)
		#set($id = $metaresolvable.start + $velocityCount)
	#else
		#set($id = $velocityCount)
	#end
	#set($size = " - $!{resolvable.sizekb}kb")
	#if($size==" - kb")
		#set($size="")
	#end
	<li>
			
			<h4><a class="title highlight" href="content$resolvable.pub_dir$resolvable.filename">$resolvable.name</a></h4>
			#set($content = "$!{resolvable.content}$!{resolvable.binarycontent}")
			#if ($content.length() > 800)
				#set($content = $content.substring(0,800)+"...")
			#end
			<p class="description">$!content
			<br />
			<a title="$resolvable.name" class="title" href="content$resolvable.pub_dir$resolvable.filename">content$resolvable.pub_dir$resolvable.filename</a>$!{size}
			</p>
	</li>
#end
	</ul>




#if($metaresolvable.totalhits>0)
<div id="other_pages">
## filter fuzzy search and *search
#set($query = $metaresolvable.query.replaceFirst("~0.[0-9]?",""))
## encode umlaute
#set($query = $esc.url($query))
		<!--	<strong><a href="?q=${query}&start=0">1</a></strong> / 	-->


#set($count = $metaresolvable.count)
#set($start = $metaresolvable.start)
#set($hits = $metaresolvable.totalhits)

#set($currpage = $start / $count)
#set($maxpage = $hits / $count)
#set($range = 1)

#if($maxpage < 1)
  #set($startpaging = 1)
  #set($endpaging = $maxpage - 1)
#else
  #if(($currpage - $range) < 0 )
    #set($startpaging = 1)
    #set($endpaging = $currpage + $range + $range)
  #elseif(($currpage + $range) > ( $maxpage - 1))
    #set($startpaging = $currpage - $range)
    #set($endpaging = $maxpage - 1)
  #else
    #set($startpaging = $currpage - $range)
    #set($endpaging = $currpage + $range)
  #end
#end

#if($startpaging < 1)
#set($startpaging = 1)
#end
#if($endpaging >= $maxpage)
#set($endpaging = $maxpage - 1)
#end
##startpaging: $startpaging<br>
##endpaging:$endpaging<br>
##currpage: $currpage<br>
##maxpage: $maxpage<br>

#if($currpage > 0)
#set($start = ($currpage - 1) * $count)
<a href="?query=$!{originalquery}&start=$!{start}&search=1" title="previous results">Previous</a>
#end


#if($currpage == 0)
1
#else
<a href="?query=$!{originalquery}&start=0&search=1" title="show first result page">1</a>
#end
#if($startpaging >1)
...
#end

#if($endpaging >= $startpaging && $startpaging < $maxpage )
#foreach($pageNumber in [$startpaging..$endpaging])
#set($displayNumber = $pageNumber + 1)
#set($start = $pageNumber * $count)
#if($pageNumber == $currpage)
<strong>$displayNumber</strong>
#else
  <a href="?query=$!{originalquery}&start=$!{start}&search=1">$displayNumber</a>
#end

#end
#end
#if($endpaging <= $maxpage && $maxpage > 0)
#if($endpaging <($maxpage - 1))
...
#end
#set($start = $maxpage * $count)
#set($displayNumber = $maxpage + 1)
#if($currpage == $maxpage)
$displayNumber
#else

<a href="?query=$!{originalquery}&start=$!{start}&search=1" title="show last result page">$displayNumber</a>
#end
#end


#if($currpage < $maxpage)
#set($start = ($currpage + 1) * $count)
<a href="?query=$!{originalquery}&start=$!{start}&search=1" title="show next result page">Next</a> 
#end



</div>
#end
#end
</div>
</body>
</html>